    <!-- footer -->
    <footer class="footer navbar-fixed-bottom" id="footer">
        <!--<div class="image-puffer"></div>-->
        <div class="container">
            <div class="image-holder">
                <img src="{{ site.baseurl }}/img/logo-white-border.png" class="footer-logo" />
            </div>
            <div class="footer-copyright text-center">
                <p>
                    <span class="footer-links">
                        <a href="#">Support</a><span class="hidden-xs"> | </span><br class="visible-xs-inline"><a href="#">Privacy & Cookies</a><span class="hidden-xs"> | </span><br class="visible-xs-inline"><a href="#">Privacy Statement for Android</a><span class="hidden-xs"> | </span><br class="visible-xs-inline"><a href="#">Security</a>
                    </span>
                    <br><br>
                    <span class="copyright">Copyright &copy; NewPipe. All rights reserved.</span>
                </p>
            </div>
        </div>
    </footer> <!-- footer -->
