    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ site.baseurl  }}/bootstrap/js/bootstrap.min.js"></script>

    <!-- Search optimations -->
    <script>
        
        /* Prevent search CSS transition on window resize */
        
        var windowWidth = window.innerWidth;
        document.getElementsByTagName("BODY")[0].onresize = function(){
            /* Only necessary when the user leaves the mobile size */
            if(windowWidth < window.innerWidth && windowWidth < 767){
                document.getElementById("navigation-search-input").classList.add("noTransition");
                setTimeout(function(){ document.getElementById("navigation-search-input").classList.remove("noTransition");}, 900);
            }
            windowWidth = window.innerWidth;
        };
        
        /* Prevent search submit when search field is empty. Important for touch devices
        with medium or large screens because search input textfield is hidden when not focused */
        
        $(".nav .search-form").submit(function(e){
            if($(".nav .search-input").val().replace(/ /g, '').length === 0){
                e.preventDefault();
                $(".nav .search-input").addClass("invalid-input");
                setTimeout(function(){ $(".nav .search-input").removeClass("inavlid-input");}, 10500);
            }
        });
    </script>

</body>
</html>