    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ site.baseurl  }}/bootstrap/js/bootstrap.min.js"></script>

    <!-- Prevent search CSS transition on window resize -->
    <script>
        var windowWidth = window.innerWidth;
        document.getElementsByTagName("BODY")[0].onresize = function(){
            /* Only necessary when the user leaves the mobile size */
            if(windowWidth < window.innerWidth && windowWidth < 767){
                document.getElementById("navigation-search-input").classList.add("noTransition");
                setTimeout(function(){ document.getElementById("navigation-search-input").classList.remove("noTransition");}, 900);
            }
            windowWidth = window.innerWidth;
        };

    </script>

</body>
</html>