<div class="col-xs-12 col-sm-4 col-md-3 sidebar" id="sidebar" >
    <div class="extra-space"></div>
    <div class="list-group">
        <h3 class="list-group-item active">Also interesting</h3>
        <a href="{{ site.baseurl }}{% post_url 2017-06-17-c33c-presentation %}" class="list-group-item"><span class="icon"><i class="fa fa-caret-right" aria-hidden="true"></i></span>C33C presentation</a>
        <a href="#" class="list-group-item"><span class="icon"><i class="fa fa-caret-right" aria-hidden="true"></i></span>Link</a>
        <a href="#" class="list-group-item active"><span class="icon"><i class="fa fa-caret-right" aria-hidden="true"></i></span>New group</a>
        <a href="#" class="list-group-item"><span class="icon"><i class="fa fa-caret-right" aria-hidden="true"></i></span>Link</a>
        <a href="#" class="list-group-item"><span class="icon"><i class="fa fa-caret-right" aria-hidden="true"></i></span>Link</a>
    </div>

    <div class="clearfix"></div>
    <div class="search-container">
        <form action="{{ site.baseurl }}/search/" method="get">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
                <input type="text" class="form-control" id="search-box"  name="s" placeholder="Search for...">
            </div><!-- input-group -->
        </form>
    </div>

    <div class="clearfix"></div>

    <div class="image-puffer"></div>
</div>
