<div class="col-xs-12 col-sm-4 col-md-3 sidebar" id="sidebar" >
    <div class="extra-space"></div>
    <div class="list-group">
        <a href="#" class="list-group-item active"><h3>Pinned articles</h3></a>
        <a href="#" class="list-group-item">C33C presentation</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item active">New group</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
    </div>
    <div class="clearfix"></div>
    <div class="image-puffer"></div>
</div>
