---
layout: default
permalink: /blog/
---
<div class="post-collection">
    <div class="container">
        <div class="row is-flex" >
            <div class="col-xs-12 col-sm-8 col-md-9 border-right">

                <div class="extra-space"></div>
                {% if page.title == 'article' %}
                <h3>All articles</h3>
                {% else %}
                <h3>Category: {{ page.title }}</h3>
                {% endif %}
                {% unless page.content == '' %}
                  <p>{{ page.content }}</p>
                {% endunless %}

                {% for post in site.categories.[page.category] %}
                <div class="category post-preview">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <h4 class="post-title">            
                            {{ post.title }}
                        </h4>
                        {% if post.subtitle %}
                        <h5 class="post-subtitle">
                            {{ post.subtitle }}
                        </h5>
                        {% endif %}
                    </a>
                    <p class="post-meta">
                      Posted by 
                      {% if post.author %}
                        {{ post.author }}
                      {% else %}
                        {{ site.title }}
                      {% endif %} 
                      on {{ post.date | date: "%B %-d, %Y" }}
                    </p>
                </div>

                {% endfor %}
                <div class="clearfix"></div>
                            
                <div class="image-puffer"></div>
            </div>

            {% include sidebar.html %}

        </div>
    </div>
</div>
