{% include head.html %}
{% include nav.html %}
<!--
{% for post in site.posts limit: 1%}

<div class=""></div>
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      {{ post.excerpt }}
    </li>
{% endfor %}
-->

<!--
{% for post in site.posts %}
  {% assign loopindex = forloop.index | modulo: 2 %}
  {% if loopindex == 1 %}
    <div>
      <a href="{{ post.url }}" style="color: yellow">{{ post.title }}</a>
  {% else %}
      <a href="{{ post.url }}">{{ post.title }}</a>
    </div>
  {% endif %}
{% endfor %}

-->
<div class="post-collection">
<div class="container">
    <div class="row" >
        <div class="col-xs-12 col-sm-8 col-md-9 border-right">
        
            <div class="extra-space"></div>
            
            <!--<div class="list-group">
                <a href="#" class="list-group-item active">I'm NOT the Sidebar</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
            </div>-->
            
            {% for post in site.posts limit: 4 %}
            <div class="border-box">
            <h4><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h4>
        <span>{{ post.date | date_to_string }}</span><br><br>
        {{ post.content | strip_html | truncatewords:100}}<br>
            <a href="{{ post.url }}">Read more...</a><br><br>
            
            <!-- separator -->
            <div class="row">
                <div class="col-xs-12 visible-xs" style="/*padding: 0;*/" >
                    <hr class="separator" />
                </div>
            </div>
            </div>
    {% endfor %}
            
            <div class="clearfix"></div>
            <div class="image-puffer"></div>
        </div><!--/.sidebar-offcanvas-->
        
        {% include sidebar.html %}
        
    </div>
</div>
</div>

{% include footer.html %}
{% include page_end.html %}
